body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to top right, #a1c4fd, #c2e9fb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.weather-container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

h2 {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 12px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #298bb9;
}
button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.result-box {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.result-box p {
  margin: 5px 0;
}
